body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #eeeeee !important;
    padding: 0 10px;
    background-color: #333333;
    font-family: sans-serif;
}
h1,h2,h3 {
    line-height: 1.2;
}
a,a:visited {
    color: #07a;
}
img {
    max-width: 80%;
    height: auto;
    width: auto9; /* ie8 */
}
